@import "bootstrap.less";

#sidebar {
  background:white;
  z-index:100;
  width: 162px;
  border-right: 1px solid #DDD;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px 40px;

  li a {
    padding: 2px 0;
    color: #888;
    border-bottom: 2px solid #EEE;
  }
  li a:hover {
    border-color: lightBlue;
    color: #444;
  }
  ul {
    padding:0px;
    margin: 50px 0px;
    list-style-type: none;
  }
}
body, textarea, pre, input {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: normal;
  margin:0px;
}
body {
  color:#222;
}
#content {
  margin-left: 243px;
  position: relative;
  height:100%;
}
// div::before, div::after {
//   content: '';
//   display: table;
// }
#content section {
  padding: 26px 50px 40px 50px;
  border-bottom: 1px solid 
  #DDD;
  position: relative;
}
.contain {
  max-width: 600px;
  position: relative;
}
p, pre {
  margin: 1em 0;
}
p {
  color: 
  #555;
}
#topbit {
  display: block;
  padding: 20px 0 20px 50px;
  border-bottom: 1px solid #DDD;
}
.littletext {
  margin-top:0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  span.description, span.description a {
    color:#DDD;
  }
  span.time {
    color:lightBlue;
  }
}
a, a:visited a:active {
  color: 
  black;
  text-decoration: none;
  border-bottom: 1px solid 
  #DDD;
}
a:hover {
  color:lightBlue;
}
h1, #text-title pre, #text-title textarea {
  font-weight: bold;
  font-size: 35px;
}
h1, h3, h4, h5, #text-title pre {
font-weight: bold;
line-height: 1.3em;
}
#sidebar span {
  color: 
  #888;
  font-weight: normal;
}
.bottomleft {
  margin-left:-40px;
  // border-top:1px solid #DDD;
  position:absolute;
  bottom:0px;
  padding: 20px 20px;
  width:202px;
  max-height:80%;
}
.button {
  display: inline-block;
  background: black;
  padding: 8px 12px;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
h1 a.button, h2 a.button {
  // position: absolute;
  // top: 0;
  // right: 0;
  font-size: 12px;
  padding: 2px 10px;
  line-height: 2.7em;
  margin: 5px 0 0;
}
input[type="text"], input[type="password"] {
  background:transparent;
  border-bottom:1px solid #DDD;
  border-left:1px solid #DDD;
  border-top:none;
  border-right:none;
  padding:10px;
}
input:focus {
  outline:0;
  box-shadow: -2px 0px 0px 0px lightBlue ;
}
h2 {
  color: #888;
  font-weight: normal;
  // margin:0px;
}
#doclist {
  top:175px;
}
.compact input[type="text"] {
  padding:0px;
  padding-left:5px;
  width:100%;
}
.preview {
  // max-height:200px;
  // overflow:hidden;
  box-shadow:inset 0px -5px 10px -5px white;
}
::selection, ::-moz-selection {
  background:lightBlue;
}
html, body, .row, #container, #content {
  height:100%;
}


@media (max-width: 480px) {
  #sidebar {
    text-align:center;
    position:relative;
    top:0px;
    border-right:0px;
    border-bottom:1px solid #DDD;
    width:inherit;
    ul {
      margin:10px;
    }
  }
  .bottomleft {
    position:relative;
    padding:0px;
    margin:0px;
    width:100%;

  }
  #content {
    margin:0px;
  }
}