<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DocBlogger {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="media/css/style.css" rel="stylesheet">
    <!-- <link href="media/less/style.less" rel="stylesheet/less" type="text/css"> -->
    <!-- <link href="media/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <!-- <script src="media/js/less-1.3.0.min.js"></script>-->
    {% block style %}
    {% endblock style %}
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/media/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/media/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div id="container">
      <div class="row">
        <div class="span3" id="sidebar">
          {% block sidebar %}
            I'm in the sidebar
          {% endblock sidebar %}
        </div>
        <div class="span9" id="content">
          {% block content %}
            I'm in the content
          {% endblock content %}
        </div>
      </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/media/js/jquery.js"></script>
  <!--
    <script src="/media/js/bootstrap-transition.js"></script>
    <script src="/media/js/bootstrap-alert.js"></script>
    <script src="/media/js/bootstrap-modal.js"></script>
    <script src="/media/js/bootstrap-dropdown.js"></script>
    <script src="/media/js/bootstrap-scrollspy.js"></script>
    <script src="/media/js/bootstrap-tab.js"></script>
  -->
    <script src="/media/js/bootstrap-tooltip.js"></script>
  <!--
    <script src="/media/js/bootstrap-popover.js"></script>
    <script src="/media/js/bootstrap-button.js"></script>
    <script src="/media/js/bootstrap-collapse.js"></script>
    <script src="/media/js/bootstrap-carousel.js"></script>
  -->
    <script src="/media/js/bootstrap-typeahead.js"></script>
    {% block scripts %}
    {% endblock scripts %}
    <!-- THIS IS TEMPORARY I SWEAR. i hope.  -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27324389-1']);
      _gaq.push(['_setDomainName', window.location.host || 'alexrattray.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
