{% extends "base.html" %}

{% block title %}| {{blogger.name}} | {{blogger.tagline}}{% endblock %}

{% block style %}
<link href="http://fonts.googleapis.com/css?family={{blogger.font}}:{{versions}}" rel="stylesheet" type="text/css">
<style type="text/css">
{% for post in posts %}
  {{post.css|safe}}
{% endfor %}
body, textarea, pre, input {
  font-family: '{{blogger.font}}', Helvetica, sans-serif;
}
</style>
{% endblock style %}      

{% block sidebar %}
  <h1><a href="#">{{blogger.name}}</a></h1>
  <span class="tagline">
    {{blogger.tagline}}
  </span>
  <ul>
    {% for link in links %}
    <li>
      <a href="{{link.url}}">{{link.name}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="bottomleft">
    {% if request.user.blogger %}
      <center>
        <a href="/edit/">Admin</a> | 
        <a href="/api/logout/">Logout</a>
      </center>
    {% else %}
      <center>
        <p>
          Powered by 
          <a href="http://docblogger.org/">DocBlogger</a>
        </p>
      </center>
    {% endif %}
  </div>
{% endblock sidebar %}


{% block content %}
<div id="topbit" class="littletext">
  <span class="time">
    {{today}}
  </span>
</div>

{% for post in posts %}
  <section id="post_{{post.id}}">
    <div class="post contain">
      <h1><a href="post/{{post.slug}}/">{{post.name}}</a></h1>
      <p class="littletext">
        <span class="description">posted</span>
        <span class="time"> {{post.created|date:"M d, Y"}} </span>
        <span class="description">| updated </span>
        <span class="time">{{post.last_updated|date:"M d, Y"}}</span>
        <span class="description">| <a href="post/{{post.slug}}/#disqus_thread"></a></span>
      </p>
      <div class="preview">
        {{post.content|safe}}
      </div>
    </div>
  </section>
{% endfor %}

{% endblock content %}


{% block scripts %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'docblogger'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endblock scripts %}