v{% extends "base.html" %}

{% block title %}| {{ blogger.name }}{% endblock %}


{% block style %}
<link href="http://fonts.googleapis.com/css?family=Lato:300,900" rel="stylesheet" type="text/css">
<!--<link href="http://fonts.googleapis.com/css?family={{blogger.font}}:{{versions}}" rel="stylesheet" type="text/css">
<style type="text/css">
body, textarea, pre, input {
  font-family: '{{blogger.font}}', Helvetica, sans-serif;
}
</style>-->
{% endblock style %}      

{% block sidebar %}
  <h1><a href="{{base_url}}" target="_blank">
    {{blogger.name}}
  </a></h1>
  
  <div class="bottomleft" id="doclist">
    <div id="publishbuttonhere"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th title="Drag Documents to your DocBlogger folder" class="twip">Documents</th>
          <th></th>
          <th><a href="https://docs.google.com/folder/d/{{blogger.folder_id_short}}/edit"
           target="_blank" title="Open DocBlogger Folder" class="twip" data-placement="top">
            <i class="icon-folder-close"></i>
          </a></th>
        </tr>
      </thead>
      <tbody>
        {% for doc in feed %}
          <tr>
            <td><a href="#" id="{{doc.resource_id.text}}" class="doc_link">{{doc.title.text}}</a></td>
            {% if doc.resource_id.text in resource_ids %}
              <td>
                <a href="api/update/{{blogger.gmail_short}}/{{doc.resource_id.text}}/"
                  title="Update Post" class="twip" data-placement="left" >
                  <i class="icon-repeat"></i>
                </a>
              </td>
              <td>
                <a href="api/delete/{{blogger.gmail_short}}/{{doc.resource_id.text}}/"
                  title="Remove Post from Blog" class="twip" data-placement="left">
                  <i class="icon-star"></i>
                </a>
              </td>
            {% else %}
              <td><a href="api/publish/{{blogger.gmail_short}}/{{doc.resource_id.text}}/"
                  style="display:none;"></a></td>
              <td>
                <a href="api/publish/{{blogger.gmail_short}}/{{doc.resource_id.text}}/"
                  title="Publish Post" class="twip" data-placement="left">
                  <i class="icon-star-empty"></i>
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        <tr>
          <td>
            <a href="api/newdoc/{{blogger.gmail_short}}/" id=""> New Document </a>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock sidebar %}


{% block content %}
<div id="topbit">
  <p>make sure you're logged in to gmail</p>
</div>

<section>
  <div class="post contain">
    <p>Drag your docs into 
      <a href="https://docs.google.com/folder/d/{{blogger.folder_id_short}}/edit">this folder</a>
      and they'll appear in the sidebar; click the <i class="icon-star-empty"></i> to publish, 
      and <i class="icon-repeat"></i> to update a document. 
    </p>
    <p>
      You can also click "New Document", which will generate a new blank document 
      that you can edit here and then publish. 
    </p>
  </div>
</section>
<section>
  <div class="post contain">
    <h2>Links</h2>
    <p>Links appear in the sidebar of your blog, underneath the tagline</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Url</th>
          <th>Order</th>
        </tr>
      </thead>
      <tbody class="compact">
        {% for link in links %}
          <tr>
            <form action="api/link/{{link.0.id}}/" method="POST">{% csrf_token %}
              <td>{{link.1.name}}</td>
              <td>{{link.1.url}}</td>
              <td>{{link.1.order}}</td>
              <td><button type="submit" class="button">Update</button></td>
            </form>
          </tr>
        {% endfor %}
        <tr>
          <form action="api/link/new/" method="POST">{% csrf_token %}
            <td>{{new_link_form.name}}</td>
            <td>{{new_link_form.url}}</td>
            <td>{{new_link_form.order}}</td>
            <td><button type="submit" class="button">Add</button></td>
          </form>
        </tr>
      </tbody>
    </table>


    <h2>Settings</h2>
    <p>
      Modifying the Font will change the font in all areas of your blog <em>except</em>
      the blog posts themselves; all styling within posts are determined by your 
      styling within google docs. Fonts are drawn from 
      <a href="http://google.com/webfonts">Google Webfonts</a>; browse there 
      until you find one you like, and pick it from the list below. 
      Feel free to experiment or write in a standard system font.
    </p>
    <form action="../../api/{{blogger.gmail_short}}/settings/" method="POST" style="width:100%;">
      {% csrf_token %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody class="compact">
          <tr>
            <td>{{form.name}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tagline</th>
          </tr>
        </thead>
        <tbody class="compact">
          <tr>
            <td>{{form.tagline}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Font</th>
          </tr>
        </thead>
        <tbody class="compact">
          <tr>
            <td class="selector">{{form.font}}</td>
          </tr>
        </tbody>
      </table>
            <table class="table table-striped">
        <thead>
          <tr>
            <th>URL</th>
          </tr>
        </thead>
        <tbody class="compact">
          <tr>
            <td>{{form.url}}</td>
            <td><button type="submit" class="button">Update</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</section>

{% endblock content %}


{% block scripts %}
<script>
$('.doc_link').click(function(){
  var url = 'https://docs.google.com/document/d/'+$(this).attr('id').split(':')[1]+'/edit';
  console.log(url);
  var html = '<iframe src="'+url+'" width="100%" height="100%" style="border:0px; margin:0px;"></iframe>';
  $('#content').html(html);
  var href = $(this).parent().next().children().attr('href');
  var text = href.split('/')[1];
  console.log(href);
  console.log(text);
  $('#publishbuttonhere').html('<center><p><a href="'+href+'" class="button">'+text+'</a></p></center>');
})

$(function(){
  
  $('.twip').tooltip();
  var source = [
  {% for font in fonts %}"{{font}}",{% endfor %}
  ];
  var options = {source:source};
  $('.selector input').typeahead(options);

});
</script>
{% endblock scripts %}