{% extends "base.html" %}

{% block title %}: Blogging for Writers{% endblock %}

{% block style %}
<link href="http://fonts.googleapis.com/css?family=Lato:300,900" rel="stylesheet" type="text/css">
{% endblock style %}      

{% block sidebar %}
  <h1><a href="#">DocBlogger</a></h1>
  <span class="tagline">
    A lightweight blog platform that uses Google Docs as the editor
  </span>
  <div class="bottomleft">
    {% if request.user.blogger %}
      <center>
        <a href="/edit/">Admin</a> | 
        <a href="/api/logout/">Logout</a>
      </center>
    {% else %}
    <h2>Sign Up or Log In</h2>
    <form action="/api/signup/" method="POST">
      {% csrf_token %}
      <input type='text' placeholder="you@gmail.com" name="gmail">
      <input type='password' placeholder="DocBlogger password" name="password">
      <h2>
        <center><button class="button" type="submit">Boom</button></center>
      </h2>
    </form>
    {% endif %}
  </div>
{% endblock sidebar %}


{% block content %}
<div id="topbit" class="littletext">
  <span class="time">
    {{today}}
  </span>
</div>

<section>
  <div class="post contain">
    <iframe width="853" height="480" src="http://www.youtube.com/embed/ODoEB_nrl9c" frameborder="0" allowfullscreen></iframe>
    <p>Write, edit, style, and collaborate within Google Docs. Publish on DocBlogger.</p>
    <p>DocBlogger is powered by the open-source <a href="http://bitbucket.org/rattray/acvte/">Acvte</a> engine, which was heavily inspired by the styling of 
      <a href="http://obtvse.herokuapp.com" target="_blank">Obtvse</a>. 
      The beginnings of this application were built in 24 hours at the Summer 2012 Angelhack event 
      in Silicon Valley, using Django with significant 
      use of the Google Docs List API. 
    </p> 
    <p>A project by 
      <a href="http://alexrattray.com">Alex Rattray</a>, co-founder at 
      <a href="http://essaysafe.org/">EssaySafe</a>. 
      Code at <a href="http://bitbucket.org/rattray/acvte">bitbucket</a>.
    </p>
  </div>
</section>

<section>
  <div class="post contain">
    <h1>DocBloggers</h1>
    <ul>
      {% for blogger in bloggers %}
        <li>
          <a href="/blog/{{blogger.gmail_short}}/">
            {{blogger.name}}
          </a>
          | {{blogger.posts.all|length }} posts
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% endblock content %}


{% block scripts %}
{% endblock scripts %}