{% extends "base.html" %}

{% block title %}| {{post.name}} | {{blogger.name}}{% endblock %}

{% block style %}
<link href="http://fonts.googleapis.com/css?family={{blogger.font}}:{{versions}}" rel="stylesheet" type="text/css">
<style type="text/css">
  {{post.css|safe}}
body, textarea, pre, input {
  font-family: '{{blogger.font}}', Helvetica, sans-serif;
}
</style>
{% endblock style %}      

{% block sidebar %}
  <h1><a href="../../">{{blogger.name}}</a></h1>
  <span class="tagline">
    {{blogger.tagline}}
  </span>
  <ul>
    {% for link in links %}
    <li>
      <a href="{{link.url}}">{{link.name}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="bottomleft">
    {% if request.user.blogger %}
      <center>
        <a href="/edit/">Admin</a> | 
        <a href="/api/logout/">Logout</a>
      </center>
    {% else %}
      <center>
        <p>
          Powered by 
          <a href="http://docblogger.org">DocBlogger</a>
        </p>
      </center>
    {% endif %}
  </div>
{% endblock sidebar %}


{% block content %}
<div id="topbit" class="littletext">
  <span class="description">
    posted 
  </span>
  <span class="time">
    {{post.created|date:"M d, Y"}} 
  <span class="description">
    &nbsp; | &nbsp;
    updated 
  </span>
  <span class="time">
    {{post.last_updated|date:"M d, Y"}}
  </span>
</div>

<section id="post_{{post.id}}">
  <div class="post contain">
    <h1>{{post.name}}</h1>
    <div>
      {{post.content|safe}}
    </div>
  </div>
</section>

<section>
  <div class="post contain">
    <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'docblogger'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

{% endblock content %}


{% block scripts %}
{% endblock scripts %}